Repository rog555/abnosql: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, mypy

autoflake:
  name: autoflake
  entry: autoflake -i -r
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

rename to abnosql and decouple boto3 dependencies from cosmos via memory table
  .coveragerc
  README.md
  abnosql/__init__.py
  abnosql/cli.py
  abnosql/exceptions.py
  abnosql/mocks/__init__.py
  abnosql/mocks/mock_cosmos.py
  abnosql/mocks/mock_dynamodbx.py
  abnosql/plugin.py
  abnosql/plugins/__init__.py
  abnosql/plugins/table/__init__.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/plugins/table/memory.py
  abnosql/py.typed
  abnosql/table.py
  nosql/mocks/__init__.py
  nosql/mocks/common.py
  setup.py
  test.sh
  tests/common.py
  tests/test_cosmos.py
  tests/test_dynamodb.py
Due: autoflake, mypy

pre-commit stuff
  .flake8
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  Makefile
  setup.py
  test.sh
Due: autoflake

codecov
  .github/workflows/python-package.yml
  Makefile
  pytest.ini
  setup.py
Due: autoflake

pytest.ini
  pytest.ini
Due: none

mypy
  setup.py
Due: autoflake

moto[dynamodb2]
  setup.py
Due: autoflake

moto[dynamodb]
  setup.py
Due: autoflake

mock_dynamodb
  tests/test_dynamodb.py
Due: autoflake, mypy

default aws region
  abnosql/plugins/table/dynamodb.py
Due: none

region
  .github/workflows/python-package.yml
  abnosql/plugins/table/dynamodb.py
Due: none

coverage
  .coveragerc
  .github/workflows/python-package.yml
  Makefile
Due: none

mypy-ignore-cli
  setup.cfg
Due: none

release
  .coveragerc
  .flake8
  .github/workflows/release.yml
  abnosql/version.py
  setup.cfg
  setup.py
Due: autoflake

readme
  README.md
  abnosql/cli.py
Due: none

badges
  .github/workflows/python-package.yml
  README.md
Due: none

more documentation and fix minor CLI bug
  CHANGELOG.md
  README.md
  abnosql/__init__.py
  abnosql/table.py
  abnosql/version.py
  setup.cfg
Due: none

docs
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Makefile
  abnosql/__init__.py
  abnosql/table.py
  docs/abnosql.html
  docs/abnosql/table.html
  docs/index.html
  docs/search.js
  setup.py
Due: autoflake

added api docs
  README.md
Due: none

minor readme update
  README.md
Due: none

Update README.md
  README.md
Due: none

initial crypto support
  abnosql/__init__.py
  abnosql/crypto.py
  abnosql/mocks/mock_cosmos.py
  abnosql/plugins/crypto/__init__.py
  abnosql/plugins/crypto/aws.py
  abnosql/plugins/crypto/azure.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/plugins/table/memory.py
  abnosql/table.py
  abnosql/version.py
  setup.py
Due: autoflake

kms
  README.md
  abnosql/__init__.py
  abnosql/kms.py
  abnosql/plugins/kms/__init__.py
  abnosql/plugins/kms/aws.py
  abnosql/plugins/kms/azure.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/plugins/table/memory.py
  abnosql/table.py
  setup.py
Due: autoflake

aws kms tests
  abnosql/kms.py
  abnosql/plugins/kms/aws.py
  abnosql/plugins/kms/azure.py
  abnosql/table.py
  setup.py
  tests/common.py
  tests/test_aws_kms.py
Due: autoflake, mypy

Update python-package.yml
  .github/workflows/python-package.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

client side field level encryption
  CHANGELOG.md
  README.md
  abnosql/cli.py
  abnosql/kms.py
  abnosql/mocks/__init__.py
  abnosql/mocks/mock_azure_kms.py
  abnosql/mocks/mock_cosmos.py
  abnosql/plugins/kms/aws.py
  abnosql/plugins/kms/azure.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/table.py
  setup.py
  tests/common.py
  tests/test_azure_kms.py
  tests/test_cosmos.py
  tests/test_dynamodb.py
Due: autoflake, mypy

lint
  tests/test_azure_kms.py
Due: autoflake, mypy

pagination
  README.md
  abnosql/mocks/mock_cosmos.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/memory.py
  tests/common.py
  tests/test_cosmos.py
Due: autoflake, mypy

audit
  CHANGELOG.md
  README.md
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/plugins/table/memory.py
  abnosql/table.py
  tests/common.py
  tests/test_cosmos.py
  tests/test_dynamodb.py
Due: autoflake, mypy

mypyfix
  abnosql/plugins/table/memory.py
Due: none

infer ABNOSQL_DB and audit camelCase
  CHANGELOG.md
  README.md
  abnosql/table.py
  abnosql/version.py
  tests/common.py
  tests/test_azure_kms.py
  tests/test_dynamodb.py
Due: autoflake, mypy

patch/update support
  CHANGELOG.md
  README.md
  abnosql/mocks/mock_cosmos.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/plugins/table/memory.py
  abnosql/table.py
  abnosql/version.py
  tests/common.py
  tests/test_cosmos.py
  tests/test_dynamodb.py
Due: autoflake, mypy

cosmos support for table names containing hyphens
  CHANGELOG.md
  abnosql/cli.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/version.py
Due: none

dependency fixes
  CHANGELOG.md
  abnosql/kms.py
  abnosql/mocks/mock_cosmos.py
  abnosql/plugin.py
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/dynamodb.py
  abnosql/plugins/table/memory.py
  abnosql/table.py
  abnosql/version.py
  tests/common.py
  tests/test_cosmos.py
  tests/test_dynamodb.py
Due: autoflake, mypy

cosmos change feed support
  CHANGELOG.md
  README.md
  abnosql/plugins/table/cosmos.py
  abnosql/plugins/table/memory.py
  abnosql/table.py
  abnosql/version.py
  tests/common.py
Due: autoflake, mypy

readme fix
  README.md
Due: none

cosmos change feed eventName alignment
  CHANGELOG.md
  README.md
  abnosql/plugins/table/cosmos.py
  abnosql/table.py
  abnosql/version.py
  tests/common.py
Due: autoflake, mypy

mypy fix
  abnosql/kms.py
  abnosql/plugin.py
  abnosql/table.py
Due: none

fix change metadata REMOVE bug
  CHANGELOG.md
  abnosql/plugins/table/cosmos.py
  abnosql/table.py
  abnosql/version.py
Due: none

Path conditions:
  autoflake: any of: ^(nosql/|tests/|setup.py) and \.py$
  mypy: any of: ^(nosql/|tests/) and \.py$
